.mg-main{
    margin: 0 180px;
}

/* 文字 */
.ff_mi{
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

/* アルファベット */
.ff_20{
    font-family: 'Avenir Next',sans-serif;
}
/*  */
.ff_en{
    font-family: 'Helvetica Neue',sans-serif;
}

body {
    padding-top: 140px; /* ヘッダーの高さ分の余白をいれ、うしろの要素が隠れないようにする */
}

.mw_1280{
max-width: 1280px;
margin: 0 auto;
}



.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

.header_container{
    display: flex;
    justify-content:space-between;
    max-width: 1280px;
    height: 140px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    align-items: center;
}


.header_logo{
    text-align: center;
}

.headar_title{
    font-weight: lighter;
    margin: 0 auto;
    font-family: 'klee',sans-serif;

}

.headar_subtatle{
    font-family: 'Avenir Next',sans-serif;
    font-size: 8px;
    margin: 0 auto;
    letter-spacing : 1.7px;

}



.header_list{
    display: flex;
    list-style:none;
    align-items: center;
    font-weight: 600;
    letter-spacing : 1.5px;
}

.header li{
    padding: 13px;
    font-size: 13px;
    text-decoration-line:none;
}





/* ここからhover */
.header a{
	position: relative;
	text-decoration: none;
}
.header a:hover{
	color: black;
}

.header a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 0.9px;
	background: #3ab7c3;
	/* transition: 0.3s; */
    transition: 0.3s ease 0s;
}
.header a:hover::before{
	width: 100%;
}
/* ここまで */





.header_text{
    color: black;
    font-size: 13px;
    text-decoration:none;
}

.header_icon{
    width: 18px;
    height:18px;
}

.hero{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.hero_img1{
    width: 570px;
    height: 500px;
    object-fit: cover;

}

.hero_img2{
    margin-top: 100px;
    width: 570px;
    height: 500px;
    object-fit: cover;

}


/* main */


.main_container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main_title{
    padding: 0;
    margin: 0 140px 0 200px;
    writing-mode: vertical-rl;
    letter-spacing : 14px;
    font-size: 36px;
}

.main_text{
    margin-top: 80px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing : 2px;
    line-height:1.8;
}

/* info */

.info{
    padding-bottom: 50px;
    background-image: url("../../assets/img/deco.png");
    background-size: 60%;

}

.info_container{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;

}

.info_content{
    margin-top: 40px;


}

.info_text{
    font-size: 13px;
    letter-spacing : 1px;
    line-height:1.8;


}
.info_text2{
    font-size: 12px;
    letter-spacing : 1px;
    line-height:1.8;
}

.info_x{
    color: black;
    transition: all 0.3s ease 0s;
}


.info_x:hover{
    opacity: 0.6;
}

.info_storeInfo{
    margin-top: 35px;


}
.info_title{
    font-size: 14px;
    letter-spacing : 1.3px;
    font-weight: bold;
}



.info_list{
    font-size: 13px;
    letter-spacing : 1px;
    line-height:2;
}

.info_map{
    color: black;
    transition: all 0.3s ease 0s;
}

.info_map:hover{
    opacity: 0.6;
}


.info_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width:360px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.info_btn:hover{
    opacity: 0.6;
}


.info_link{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
}

.info_img{
    width: 420px;
    height: 260px;
}

.info_logo{
    margin-top: 100px;
}



/* news */
.news{
    margin-top: 100px;
    margin-bottom: 170px;
    padding: 50px 50px;
    background-color: #f9f8f4;
}

.news_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_title{
    font-size: 25px;
    letter-spacing: 1px;
}

.news_moreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    transition: all 0.3s ease 0s;

}

.news_moreBox:hover{
    opacity: 0.6;
}

.news_more{
    color: black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;

}
.news_menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.news_list{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height:1.5;
    transition: all 0.3s ease 0s;
}

.news_list:hover{
    opacity: 0.6;
}


.news_day{
    letter-spacing : 1px;
    font-weight: bold

}

.news_text{
    letter-spacing : 1.4px;
    font-family: YuGothic,'Yu Gothic',sans-serif;

}

.news_mark{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold

}

/* about us */

.about{
    display: flex;
    justify-content: space-between;
}

.about_container{
    margin-right: 50px;
}


.about_img1{
    object-fit: cover;
    width: 520px;
    height: 500px;
}

.about_profile{

}

.about_title{
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 58px;
    letter-spacing: 1.5px;
}

.about_subTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing : 5px;
    line-height:1.8;
}
.about_text{
    font-size: 13px;
    letter-spacing : 1.5px;
    line-height:2;
}

.about_box{
    margin-top: 50px;
}


.about_more{
    text-align: right;
    display: block;
}

.about_moreText{
    position: relative;
    padding-right: 35px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing : 1px;
    text-decoration: none;
    color: black;
}

.about_moreText::after{
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: 0.3s ease 0s;
}

.about_moreText:hover{
    opacity: 0.6;
}

.about_moreText:hover::after{
    width: 80%;
}



/* report */

.report{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f8f4;
}

.report_titleText{
    line-height: 0;
    font-weight: 900;
    font-size: 58px;
    letter-spacing: 1.5px;
}

.report_content{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.report_subTitle{
    font-size: 23px;
    font-weight: bold;
    letter-spacing : 6px;
    line-height:1.8;
}

.report_text{
    margin-left: 30px;
    font-size: 13px;
    letter-spacing : 1.5px;
    line-height:2;
}

.report_moreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}

.report_moreBox:hover{
    opacity: 0.6;
}


.report_more{
    color: black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;

}

.report_post{
    display: flex;
    flex-wrap: wrap;
}

.report_items{
    width : calc(100% / 3) ;
    justify-content: space-between;
}
.report_item{
    padding-right: 20px;
    padding-bottom: 10px;
}


.report_item:hover{
    opacity: 0.6;
}
.report_imgBox{
    overflow: hidden;

}

.report_img{
    width: 100%;
    /* height: 190px; */
    object-fit: cover;
    height: auto;
    transition: transform .6s ease;
}

.report_img:hover{
    transform: scale(1.1);
}

.report_txt{
    margin-top: -25px;
    text-align: right;
}

    .report_tagBox{
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;

}

.report_tag{
    margin: 0 0 0 auto;
    /* margin: 0; */
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing : 1.2px;

}
.report_ttl{
    text-align: left;
    font-family: YuGothic,'Yu Gothic',sans-serif;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    letter-spacing : 1.5px;
    line-height:2;
    word-break:break-all
}

.report_day{
    margin-top: 5px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    letter-spacing : 1.5px;
    line-height:2;
    color: #777;
}

/* online shop */

.onlineShop{
    margin-top: 200px;
    margin-bottom: 200px;
}

.onlineShop_container{
    display: flex;

}
.onlineShop_content{
    width: 350px;

}

.onlineShop_title{
    font-size: 28px;
    font-weight: bold;
    letter-spacing : 2px;
    line-height:1.8;
    font-family: 'Helvetica Neue',sans-serif;
}

.onlineShop_subTitle{
    font-size: 17px;
    font-weight: bold;
    letter-spacing : 2px;
    line-height:1.8;
}

.onlineShop_text{
    font-size: 13px;
    letter-spacing : 1.1px;
    line-height:2;
}

.onlineShop_box{
    margin-top: 50px;
}

.onlineShop_more{
    text-align: right;
    display: block;
}

.onlineShop_moreText{
    position: relative;
    padding-right: 35px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing : 1px;
    text-decoration: none;
    color: black;

}

.onlineShop_moreText::after{
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: 0.3s ease 0s;
}

.onlineShop_moreText:hover{
    opacity: 0.6;
}

.onlineShop_moreText:hover::after{
    width: 80%;
}

.onlineShop_img1{
    margin-top: 70px;
    margin-left:60px;
    width: 270px;
    height: 180px;
    object-fit: cover;
}


.onlineShop_img2{
    margin-left: auto;
    width: 200px;
    height: 300px;
    object-fit: cover;

}


/* message */

.message{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../../assets/img/deco.png");
    background-size: 40%;
}

.message_title{
    margin: 0;
    font-size: 32px;
    letter-spacing: 1px;
}

.message_text{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;

}

/* contact */

.contact{
    margin-top: 100px;
}

.contact_logo{
}

.contact_img{
    width: 100%;
    height: 500px;
    background-image: url("../../assets/img/contact_img.jpg");
    background-size: 100%;
}

.contact_box{
    display: flex;
    align-items: center;
    position: relative;
    width: 650px;
    margin: 0 auto;
    margin-top: -60px;
    padding: 50px 70px;
    border: 6px solid black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

.contact_box:hover{
    background: black;
	color: #fff;

}

.contact_title{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;

}

.contact_text{
    margin-left: 50px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.8px;

}

.contact_btn{
    position: absolute;
    right: -80px;
    width: 130px;
    border: 0.8px solid black;

}


.contact_box:hover .contact_btn{
    transition: all 0.3s ease 0s;
    right: -80px;
    width: 100px;
    border: 0.8px solid #fff;
}

/* footer */

.footer{
    display: flex;
    margin-top: 500px;
}

.footer_container{
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 100%;
    background-color: black;
}
.footer_content{
    padding: 0 40px;
}

.footer_hp{
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.footer_hp:hover{
    opacity: 0.6;
}

.footer_text{
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.8px;
    text-decoration: none;
}

.footer_sns{
    display: flex;
    align-items: center;
    margin-top: 30px;
}


.footer_instagram{
    display: flex;
    align-items: center;
    transition:all 0.3s ease 0s;
}

.footer_instagram:hover{
    opacity: 0.6;
}

.footer_x{
    display: flex;
    align-items: center;
    transition:all 0.3s ease 0s;
}

.footer_x:hover{
    opacity: 0.6;
}


.logo{
    padding: 0 20px;
    font-size: 12px;
    color: #fff;
}


.footer_icon{
    width: 17px;
    height:17px;
    padding-right: 20px;
}

/* bottom */


.bottom{
    margin-top: 100px;
}

.bottom_container{
    /* margin-top:; */
    display: flex;
    justify-content: center;
    margin: 0 300px;
    padding-bottom: 50px;
    border-bottom: 1px solid black ;

}

.bottom_logo{
    transition: all 0.3s ease 0s;
}
.bottom_logo:hover{
    opacity: 0.6;
}

.bottom_img{
    width: 100px;
    height: 100px;
}

.copyright{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright_text{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
}


.copyright_text2{
    margin-left: 5px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.copyright_text2:hover{
    opacity: 0.6;
}

.copyright_logo{
    padding: 0 30px;
}